/* Reset del CSS */
* {
  margin: 0;
  padding: 0;
}

/* Estilo general */
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/heladeros-Vitrina-gelats1920-4.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.titulo {
  display: flex;
  justify-content: center;
  width: 8.5vw;
}

header {
  background-color: #b28267;
  height: 18vh;
  width: 100%;
  background-image: linear-gradient(90deg, #af4d14, #b1a299);
}

main {
  color: white;
}

.contenido {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0px;
  height: 8vh;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(90deg, #af4d14, #b1a299);
}
footer p {
  margin-bottom: 0;
  text-align: center;
}

.redes {
  width: 10%;
  height: 10%;
  float: right;
}

.redesDelFooter {
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
}

h1 {
  font-size: 8rem;
  font-weight: bolder;
  text-shadow: 5px 5px 5px black;
  text-align: center;
}

section p {
  font-family: "Roboto", sans-serif;
  color: black;
  text-shadow: 3px 3px 3px #5b4334;
  font-size: 1.5rem;
}

nav {
  text-align: center;
}
nav ul li {
  width: 140px;
  display: inline-block;
  background-color: #b28267;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 3px 3px black;
  margin-top: 4px;
  color: black;
  font-style: italic;
  font-weight: bold;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
  text-shadow: 3px 3px 3px #b28267;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.submenu {
  position: fixed;
  display: none;
}

nav ul li:hover .submenu {
  display: flex;
  flex-direction: column;
  color: black;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: black;
  text-shadow: 3px 3px 3px #b28267;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin: 0% !important;
}

.verde {
  color: green;
}

.blanco {
  color: white;
}

.rojo {
  color: red;
}

.redesDelFooter img {
  width: 100%;
  height: 100%;
}

/* Estilo index */
.boxTexto,
.boxTexto2 {
  text-align: justify;
  border-bottom: 5px solid darkred;
  border-right: 5px solid darkred;
  border-radius: 20px;
  color: black;
  margin-bottom: 4rem;
  margin-right: 3.3rem;
  margin-left: 3.3rem;
}
.boxTexto p,
.boxTexto2 p {
  text-align: justify;
}

.h2Invisible {
  display: none;
}

/* Estilo nosotros */
#nosotros {
  color: black;
  display: grid;
  grid-template-areas: "abuelos padres fotoAntigua" "actualidad futuro fotoAntigua";
  grid-template-rows: 40% 40%;
  grid-template-columns: 32% 32%;
  grid-gap: 3rem;
  justify-content: center;
  align-items: fit-content;
}

#abuelos {
  grid-area: abuelos;
  align-self: center;
  height: 40vh;
}

#padres {
  grid-area: padres;
  align-self: center;
  height: 40vh;
}

#actualidad {
  grid-area: actualidad;
  align-self: center;
  height: 40vh;
}

#futuro {
  grid-area: futuro;
  align-self: center;
  height: 40vh;
}

#fotoAntigua {
  grid-area: fotoAntigua;
  align-self: center;
  justify-content: center;
}

#fotoAntigua > img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 90%;
  border-bottom: 3px solid darkred;
  border-right: 3px solid darkred;
  border-radius: 20px;
  margin: 10px;
}

#nosotros p {
  font-size: 1rem;
  text-shadow: 3px 3px 3px #b28267;
  text-align: justify;
}

.estiloCuadro {
  width: 100wh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-bottom: 3px solid darkred;
  border-right: 3px solid darkred;
  border-radius: 20px;
  padding: 5%;
  align-items: center;
  text-shadow: white;
}

/* Estilo sabores */
.grupoSabores {
  background-image: linear-gradient(90deg, #af4d14, #b1a299);
  transform: scale(1.15, 1);
  width: 200px;
  margin-top: 25px;
}

.gustos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #80380e;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding-top: 1rem;
}
.gustos ul {
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  width: 27rem;
}
.gustos ul li {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.gustos ul li:hover {
  transition-duration: 750ms;
  color: white;
  background-color: #b28267;
  border-radius: 25px;
}

.bgcolor {
  background-color: transparent !important;
}

.colorChoco {
  background-color: rgba(72, 26, 4, 0.3);
}

.colorDdl {
  background-color: rgba(214, 111, 42, 0.3);
}

.colorFruta {
  background-color: rgba(163, 39, 179, 0.2);
  margin-bottom: 8vh;
}

/* Estilo sucursales */
#sucursalesMain {
  color: black;
  display: grid;
  grid-template-areas: "h2 h2" "sucursal1 sucursal2";
  grid-gap: 5rem;
}
#sucursalesMain .h2 {
  margin-top: 1rem;
  grid-area: h2;
  font-size: 2.5rem;
  font-weight: bold;
}

.sucursal1 {
  grid-area: sucursal1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
}
.sucursal1 img {
  width: 700px;
}

.sucursal2 {
  grid-area: sucursal2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
}
.sucursal2 img {
  width: 700px;
}

main section h3 {
  text-align: center;
  text-shadow: 3px 3px 3px #b28267;
}

main section p {
  text-align: center;
}

main section img {
  margin-left: auto;
  margin-right: auto;
}

.sucursal2 img {
  text-align: center;
}

/* Estilo contacto */
.contacto {
  color: black;
  text-shadow: 2px 2px 2px #b28267;
}

main section form {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 6rem;
}
main section form p {
  display: inline-block;
  padding: 15px 0px;
  font-size: 1rem;
}
main section form div {
  color: black;
  padding-top: 1rem;
}
main section form select {
  padding: 3px 40px 3px 10px;
}
main section form input {
  padding: 0.4rem 2px;
  font-size: 1rem;
  background-color: #ffe8da;
}

textarea {
  resize: none;
  width: 24rem;
  background-color: #ffe8da;
}

.acepto {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.contacto .input {
  width: 17.9rem;
}

.contacto .label {
  display: inline-block;
  width: 6rem;
  text-align: end;
  font-size: 1.1rem;
}

/* Estilo con media queries */
@media only screen and (max-width: 399.98px) {
  /* GENERAL */
  body {
    background-color: #fdc6a6;
    background-image: unset;
  }

  h1 {
    font-size: 3rem !important;
  }

  h2,
.h2 {
    font-size: 2rem !important;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.75rem;
  }

  section p {
    font-size: 1rem;
  }

  #nosotros p {
    font-size: 1rem;
  }

  footer {
    position: fixed;
    bottom: 0px;
    width: 100wh;
  }
  footer p {
    font-size: 0.7rem;
  }

  .redesDelFooter {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
  }

  main section h3 {
    text-align: left;
    text-shadow: 3px 3px 3px #b28267;
  }

  .contenido {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }

  .titulo {
    width: 28vw;
  }

  /* INDEX */
  .boxTexto {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem;
    justify-content: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 99vw;
  }

  .boxTexto2 {
    margin-top: 1.5rem !important;
    margin-bottom: 4rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 99vw;
  }

  /* NOSOTROS */
  #titulo {
    grid-area: titulo;
  }

  #futuro {
    margin-bottom: 6rem;
  }

  #fotoAntigua img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .estiloCuadro {
    text-shadow: #b28267;
  }

  #nosotros {
    color: black;
    display: grid;
    grid-template-areas: "fotoAntigua" "abuelos" "padres" "actualidad" "futuro";
    grid-template-columns: 90vw;
    justify-content: center;
    align-items: center;
  }

  /* SABORES */
  .gustos {
    font-size: 1rem;
  }
  .gustos ul {
    flex-direction: column;
    align-items: center;
    width: 24rem;
  }

  /* SUCURSALES */
  #sucursalesMain {
    color: black;
    display: grid;
    grid-template-areas: "h2" "sucursal1" "sucursal2";
    grid-gap: 1.2rem;
    align-content: space-around;
  }

  .h2 {
    grid-area: h2;
  }

  .sucursal1 {
    grid-area: sucursal1;
  }
  .sucursal1 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .sucursal2 img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    margin-bottom: 5rem;
  }

  .sucursal2 {
    grid-area: sucursal2;
  }

  main section h3 {
    text-align: center;
    text-shadow: 3px 3px 3px #b28267;
  }

  /* CONTACTO */
  main section form {
    text-align: center;
    padding-top: 1rem;
  }
  main section form p {
    display: inline-block;
    padding: 15px 0px;
    font-size: 1rem;
  }
  main section form div {
    color: black;
    padding-top: 1rem;
  }
  main section form select {
    padding: 3px 40px 3px 10px;
  }
  main section form input {
    padding: 0.4rem;
    font-size: 0.8rem;
    background-color: #ffe8da;
  }

  textarea {
    resize: none;
    width: 22rem;
  }

  .acepto {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }

  .contacto .input {
    width: 15rem;
  }

  .contacto .label {
    display: inline-block;
    width: 6rem;
    text-align: end;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 575.98px) {
  /* GENERAL */
  body {
    background-color: #fdc6a6;
    background-image: unset;
  }

  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  footer p {
    font-size: 0.7rem;
  }
  footer .redes {
    width: 1.8rem;
    height: 1.8rem;
    float: right;
  }
  footer .redes img {
    width: 80%;
    height: 80%;
  }

  h1 {
    font-size: 3.5rem;
  }

  section h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: bold;
  }

  .boxTexto,
.boxTexto2 {
    margin-left: 0;
    margin-right: 0;
  }

  #nosotros p {
    font-size: 1rem;
  }

  .redesDelFooter {
    display: flex;
    width: 40%;
    justify-content: inherit;
  }

  main section h3 {
    text-align: left;
    text-shadow: 3px 3px 3px #b28267;
  }

  .titulo {
    width: 25vw;
  }

  /* INDEX */
  .boxFoto {
    width: 50vw;
  }

  .boxTexto,
.boxTexto2 {
    width: 99%;
  }

  section p {
    font-size: 1.2rem;
  }

  /* NOSOTROS */
  .estiloCuadro {
    border-bottom: 3px solid darkred;
    border-right: 3px solid darkred;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    text-shadow: #b28267;
  }

  #nosotros {
    color: black;
    display: grid;
    grid-template-areas: "fotoAntigua" "abuelos" "padres" "actualidad" "futuro";
    grid-template-rows: 60vh;
    grid-template-columns: 96vw;
    grid-gap: 2rem;
  }
  #nosotros h3 {
    font-size: 2rem;
  }
  #nosotros p {
    font-size: 1.2rem;
    padding: 2%;
  }

  #futuro {
    margin-bottom: 6rem;
  }

  #fotoAntigua img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }

  /* GUSTOS */
  .gustos {
    font-size: 1.2rem;
  }

  /* SUCURSALES */
  #sucursalesMain {
    color: black;
    display: grid;
    grid-template-areas: "h2" "sucursal1" "sucursal2";
    grid-gap: 2rem;
  }
  #sucursalesMain h2 {
    font-size: 2.2rem !important;
  }

  .h2 {
    grid-area: h2;
  }

  .sucursal1 {
    grid-area: sucursal1;
  }
  .sucursal1 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .sucursal2 {
    grid-area: sucursal2;
    margin-bottom: 10vh;
  }
  .sucursal2 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  main section h3 {
    text-align: center;
    text-shadow: 3px 3px 3px #b28267;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* GENERAL */
  body {
    background-color: #fdc6a6;
    background-image: unset;
  }

  h1 {
    font-size: 80px;
  }

  section h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: bold;
  }

  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
  }

  .redesDelFooter {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
  }

  .titulo {
    width: 20vw;
  }

  /* INDEX */
  .boxFoto {
    width: 50vw;
  }

  .boxTexto {
    margin-left: 0;
    margin-right: 0;
  }

  .boxTexto2 {
    margin: 0 0 8rem 0;
  }

  /* NOSOTROS */
  .estiloCuadro {
    border-bottom: 3px solid darkred;
    border-right: 3px solid darkred;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    text-shadow: #b28267;
  }

  #nosotros {
    color: black;
    display: grid;
    grid-template-areas: "fotoAntigua" "abuelos" "padres" "actualidad" "futuro";
    grid-template-rows: 60vh;
    grid-template-columns: 96vw;
    grid-gap: 2rem;
  }
  #nosotros h3 {
    font-size: 2.2rem;
  }
  #nosotros p {
    font-size: 1.3rem;
    padding: 2%;
  }

  #fotoAntigua img {
    width: 95%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  #futuro {
    margin-bottom: 6rem;
  }

  /* SUCURSALES */
  #sucursalesMain {
    color: black;
    display: grid;
    grid-template-areas: "h2" "sucursal1" "sucursal2";
    grid-gap: 2rem;
  }

  .h2 {
    grid-area: h2;
  }

  .sucursal1 {
    grid-area: sucursal1;
  }
  .sucursal1 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .sucursal2 {
    grid-area: sucursal2;
    margin-bottom: 10vh;
  }
  .sucursal2 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  main section h3 {
    text-align: center;
    text-shadow: 3px 3px 3px #b28267;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* GENERAL */
  body {
    background-color: #fdc6a6;
    background-image: unset;
  }

  h1 {
    font-size: 80px;
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
  }

  #nosotros p {
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
  }

  .redesDelFooter {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
  }

  .titulo {
    width: 16vw;
  }

  .boxTexto,
.boxTexto2 {
    margin-left: 0;
    margin-right: 0;
  }
  .boxTexto h3,
.boxTexto2 h3 {
    font-size: 3rem;
  }
  .boxTexto p,
.boxTexto2 p {
    font-size: 1.8rem;
  }

  .boxTexto2 {
    margin-bottom: 10rem;
  }

  /* NOSOTROS */
  .estiloCuadro {
    border-bottom: 3px solid darkred;
    border-right: 3px solid darkred;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    text-shadow: #b28267;
  }

  #nosotros {
    color: black;
    display: grid;
    grid-template-areas: "fotoAntigua" "abuelos" "padres" "actualidad" "futuro";
    grid-template-rows: 60vh;
    grid-template-columns: 96vw;
    grid-gap: 2rem;
  }
  #nosotros h3 {
    font-size: 2.2rem;
  }
  #nosotros #futuro {
    margin-bottom: 7rem;
  }

  #fotoAntigua img {
    width: 95%;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 500px;
  }

  #futuro {
    margin-bottom: 4rem;
  }

  #abuelos {
    margin-top: 5rem;
  }

  /* SUCURSALES */
  #sucursalesMain {
    color: black;
    display: grid;
    grid-template-areas: "h2" "sucursal1" "sucursal2";
    grid-gap: 15px;
  }

  main section h3 {
    text-align: center;
    text-shadow: 3px 3px 3px #b28267;
  }

  .h2 {
    grid-area: h2;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-weight: bold;
  }

  .sucursal1 {
    grid-area: sucursal1;
    margin: 2rem auto;
  }

  .sucursal2 {
    grid-area: sucursal2;
    margin: 2rem auto;
    margin-bottom: 7rem;
  }

  /* CONTACTO */
  .contacto .label {
    display: inline-block;
    width: 120px;
    text-align: end;
  }

  main section form {
    text-align: center;
    padding-top: 10px;
  }
  main section form p {
    display: inline-block;
    padding: 15px 0px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* GENERAL */
  body {
    background-color: #fdc6a6;
    background-image: unset;
  }

  h1 {
    font-size: 80px;
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
  }

  .redesDelFooter {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
  }

  .titulo {
    width: 14vw;
  }

  /* INDEX */
  .boxTexto {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem;
    justify-content: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 99vw;
  }

  .boxTexto2 {
    margin-top: 1.5rem !important;
    margin-bottom: 4rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 99vw;
  }

  /* NOSOTROS */
  .estiloCuadro {
    border-bottom: 3px solid darkred;
    border-right: 3px solid darkred;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    text-shadow: #b28267;
    height: initial;
  }

  #nosotros {
    color: black;
    display: grid;
    grid-template-areas: "fotoAntigua" "abuelos" "padres" "actualidad" "futuro";
    grid-template-rows: 60vh;
    grid-template-columns: 96vw;
    grid-gap: 2rem;
  }
  #nosotros h3 {
    font-size: 2.5rem;
  }
  #nosotros p {
    font-size: 1.6rem;
    padding: 2%;
  }
  #nosotros #futuro {
    margin-bottom: 7rem;
  }

  #fotoAntigua img {
    max-width: 95%;
    max-height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  #futuro {
    margin-bottom: 4rem;
  }

  #abuelos {
    margin-top: 5rem;
  }

  /* SUCURSALES */
  #sucursalesMain {
    color: black;
    display: grid;
    grid-template-areas: "h2" "sucursal1" "sucursal2";
    grid-gap: 15px;
  }

  main section h3 {
    text-align: center;
    text-shadow: 3px 3px 3px #b28267;
  }

  .h2 {
    grid-area: h2;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-weight: bold;
  }

  .sucursal1 {
    grid-area: sucursal1;
    margin: 2rem auto;
  }

  .sucursal2 {
    grid-area: sucursal2;
    margin: 2rem auto;
    margin-bottom: 7rem;
  }

  /* CONTACTO */
  .contacto .label {
    display: inline-block;
    width: 120px;
    text-align: end;
  }

  main section form {
    text-align: center;
    padding-top: 10px;
  }
  main section form p {
    display: inline-block;
    padding: 15px 0px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1439.9px) {
  h3 {
    font-size: 1.5rem;
  }

  .titulo {
    width: 12vw;
  }

  .boxTexto {
    margin-top: 1.5rem !important;
    margin-bottom: 4rem;
    justify-content: center;
    width: 33vw;
  }

  .boxTexto2 {
    margin-top: 1.5rem !important;
    margin-bottom: 4rem;
    width: 33vw;
  }

  .sucursal1 {
    grid-area: sucursal1;
  }
  .sucursal1 img {
    width: 30rem;
  }

  .sucursal2 {
    grid-area: sucursal2;
  }
  .sucursal2 img {
    width: 30rem;
  }
}
@media only screen and (min-width: 1440px) {
  h3 {
    font-size: 1.5rem;
  }

  .titulo {
    width: 12vw;
  }

  .sucursal1 {
    grid-area: sucursal1;
  }
  .sucursal1 img {
    width: 35rem;
  }

  .sucursal2 {
    grid-area: sucursal2;
  }
  .sucursal2 img {
    width: 35rem;
  }
}/*# sourceMappingURL=main.css.map */